@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');

*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  display: block;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-color: #e3e3e3 transparent;
  scrollbar-width: thin;
  background-color: #EEEFF0;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e3e3e3;
}
::-webkit-scrollbar-thumb:active {
  background: #ff6600;
}
::-webkit-scrollbar-track {
  background: #eff0f5;
  border-radius: 53px;
}
::-webkit-scrollbar-track:hover {
  background: #eff0f5;
}
::-webkit-scrollbar-track:active {
  background: #e3e3e3;
}
::-webkit-scrollbar-corner {
  background: #e3e3e3;
}

span,p{
  font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 line-height: 1.2;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Lora', serif;
  font-weight: 700;
}

.ant-select-dropdown-hidden:first-child,
.ant-select-dropdown:first-child {
  min-width: 150px !important;
  width: 150px !important;
  min-height: max-content !important;
  padding-bottom: 30px !important;
}

.ant-select-dropdown-hidden:first-child,
.ant-select-dropdown:first-child {
  max-height: 300px !important;
  overflow: auto !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}